
.vscode/
docs/
*.csv
*.png
*.json
*.o
src/lib/CImg
build/
src/output/CMakeCache.txt
build/cmake_install.cmake
build/CMakeCache.txt
build/compile_commands.json
build/Stringwind_Subtractive
build/CMakeFiles/TargetDirectories.txt
build/CMakeFiles/Stringwind_Subtractive.dir/src/main.cpp.o
build/Testing/Temporary/LastTest.log
